<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Play cards</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <h2 th:if="${error != null}" id="hideMe" class="error">
        <center>Pas assez de cartes dans le deck</center>
    </h2>
    <div class="border-solid-default margin-side-medium">
        <div class="container-column-center padding-default">
            <h1>Test technique : Jeu de cartes</h1>
            <p th:text="'Game id : ' + ${gameId}"></p><br>
            <p th:text="'Nombre de cartes dans le deck : ' + ${deck.size()}"></p>
            <tbody>
                <tr>
                    <td>Ordre aléatoire des couleurs : </td>
                </tr>
                <tr th:each="color: ${colorOrder}">
                    <td th:text="${color}" />
                </tr>
            </tbody>
            <br>
            <tbody>
                <tr>
                    <td>Ordre aléatoire des valeurs : </td>
                </tr>
                <tr th:each="value: ${valueOrder}">
                    <td th:text="${value}" />
                </tr>
            </tbody>
            <br>

            <div th:if="${deck.size() < 52}">
                <h3>Votre main non triée</h3>
                <div class="container">
                    <div class="card" th:each="card: ${existingHand.getShuffledCards()}">
                        <p th:text="${card.value} + ' DE ' + ${card.color}"></p>
                    </div>
                </div>
            </div>

            <div th:if="${!existingHand.getSortedCards().isEmpty()}">
                <h3>Votre main triée</h3>
                <div class="container">
                    <div class="card" th:each="card: ${existingHand.getSortedCards()}">
                        <p th:text="${card.value} + ' DE ' + ${card.color}"></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-row-center margin-default">
            <form th:action="@{/draw/{id}(id=${gameId})}" method="post">
                Carte(s) à piocher :
                <input type="number" th:name="numberOfCards" min="1" value="10" />
                <input type="hidden" th:value="${gameId}" th:name="id" />
                <input type="submit" value="Piocher" />
            </form>

            <form th:if="${!existingHand.getShuffledCards().isEmpty()}" th:action="@{/sort/{id}(id=${gameId})}"
                method="post">
                <input type="hidden" th:value="${gameId}" th:name="id" />
                <input type="submit" value="Trier" />
            </form>

            <form th:action="@{/}" method="get">
                <input type="submit" value="Rejouer" />
            </form>
        </div>
    </div>

</body>